name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22  # Update this from 18 to 22
        
      - name: Install dependencies
        run:  npm ci

      - name: Run tests
        run: npm run test -- --coverage

  style:
      name: Style
      runs-on: ubuntu-latest
      steps:
        - name: Check out code
          uses: actions/checkout@v4

        - name: Set up Node
          uses: actions/setup-node@v4
          with:
            node-version: 22

        - name: Install dependencies
          run: npm ci

        - name: Run formatting check
          run: npm run format:check # Adjust this to your actual script name (e.g., 'npm run lint')