name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22 
        
      - name: Install dependencies
        run:  npm ci

      - name: Run tests
        run: npm run test -- --coverage

  style:
      name: Style
      runs-on: ubuntu-latest
      steps:
        - name: Check out code
          uses: actions/checkout@v4

        - name: Set up Node
          uses: actions/setup-node@v4
          with:
            node-version: 22

        - name: Install dependencies
          run: npm ci

        - name: Install eslint
          run: npm init @eslint/config@latest

        - name: Run formatting check
          run: npm run format:check

        - name: Run linting
          run: npm run lint